.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-application {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .image-application {
        flex-wrap: wrap;
    }    
}